*{
    font-size: 20px;
}

.hidden{
    display: block;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
button{
    cursor: pointer;
    border-bottom: 1px solid #555;
}

video{
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
}

.ownerPhoto, .profilePic{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    outline: 2px solid #555;
}

.mediaFile:hover{
    cursor: pointer;
}

.mediaFile.fullScreenImage{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

img {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  object-fit: cover;  
  border-radius: 5px;
}

.posts button{
    background: none;
    border: none;
}

#commentForm .commentInput{
    border-bottom: 1px solid #a39a9a;
}

.posts, #showPostContainer{
    position: relative;
}
.edit-delete{
    position: absolute;
    top: 50px;
    right: 15px;
    padding: 5px 10px;
    width: 150px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    display: none;
    background: lightgoldenrodyellow;
    height: 100px;
    text-align: center;
    line-height: 20px;
}
.edit-delete form{
    width: 100%;
}

.edit-delete button, .comment-delete-edit button{
    font-size: 13px ;
    margin: 2px auto ;
    font-weight: bold;
    border: 1px solid rgb(70, 107, 70);
    border-radius: 5px;
    padding: 8px;
    width: 80px;
}

.likeBtn, .commentBtn, .shareBtn{
    outline: none;
    background: none;
    /* border: none; */
    border-radius: 5px;
}

.likeBtn, .commentBtn, .shareBtn:hover{
    cursor: pointer;
}

#commentForm input{
    width: 100%;
    height: 50px;
    border: none;
}


#updateFormContainer{
    width: 100%;
    max-width: 600px;
    /* margin: 0 auto; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 230, 231);
    display: none;
    padding: 5px 10px;
}

.comment{
    line-height: 1.5px;
    margin: 10px auto;
    position: relative;
}

.comment-delete-edit{
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: bisque;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    z-index: 100;
    width: 150px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    height: 90px;
    display: none;

}
comment-delete-edit form:first-child{
    margin-top: 20px;
}
.comment-delete-edit form{
    width: 80%;
}
.comment-delete-edit button{
    width: 80%;
    padding: 8px;
}
.comment-gear:hover{
    cursor: pointer;
}
.comment-gear, .gear{
    background: #efefef;
    padding: 2px 5px;
    border-radius: 5px;
}
.text-commentGear{
    display: flex;
    justify-content: space-between;
    align-items : center;
    line-height: normal;
}

.close{
    position: absolute;
    padding: 10px 4px;
    top: 5px;
    right: 5px;
    background: #fff;
    font-size: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.closep{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    margin-left: auto;
    cursor: pointer;
    background: #555;
    border-radius: 30px;
    padding: 1px;
    font-size: 10px;
}
  
.date{
    margin-left: auto;
    width: 100px;
    text-align: end;
}
.flex-class{
    display: flex;
    align-items: center;
    gap: 5px;
}
.title-date-burger{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#date{
    display: block;
    font-size: 10px;
    font-weight: bold;
}

.description{
    display: block;
}


#gear:hover{
   cursor: pointer;
}

.container{
    max-width: 600px;
    width: auto;
    margin: 0 auto;
}

.nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: #555;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.commentsContainer{
    position: relative;
}


/* #commentEditContainer{
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #efefef;
    outline: 2px solid #a39a9a;
} */